
     <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>display</title>
            <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            
            <style>
                body{
                    margin: 0px;
                    height: 0px;
                    background-color: black;
        
                }
                .nav1{
                    background-color: aqua;
                    
                    width: 100%;
                  
                    margin: 20px 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    justify-content: space-around;
                    text-decoration: none;
                }
                .nav-left-1 a{
                    font-family: 'Dancing Script', cursive;
                    font-weight: bold;
                    text-decoration: none;
                    color: black;
                    
                    font-size: 35px;
                }
        
                .nav-left a{
                    color: black;
                    text-decoration: none;
                    font-size: 20px;
                }
                .made{
                    position: absolute;
                    color: white;
                    bottom: 5%;
                    left: 46.47%
                }
            </style>
        </head>
        <body>
            <div class="nav1">
                <div class="nav-left"><a href="/dash_board">Dash Board</a></div>
                <div class="nav-left"><a href="/pos_xyz">POS</a></div>
                <div class="nav-left"><a href="/xyz1_shop_invoice">Stock In</a></div>
                <div class="nav-left"><a href="/shop_all_history">History</a></div>
                <div class="nav-left"><a href="/shop-online-order">Market</a></div>
                <div class="nav-left"><a href="/email-panel">Mail</a></div>
                <div class="nav-left"><a href="/login_shop">LogOut</a></div>
            </div>
        
            <div class="made">Made by Shadhin Khan </div>
        </body>
        </html>